* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    #e8eeff,
    #f7efff
  );
}

.login-card {
  width: 380px;
  background: white;
  border-radius: 20px;
  overflow: hidden;

  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.login-header {
  background: linear-gradient(
    135deg,
    #5b5bf7,
    #8b5cf6
  );

  color: white;
  text-align: center;
  padding: 35px 20px;
}

.logo {
  font-size: 40px;
  margin-bottom: 10px;
}

.login-header h2 {
  margin-bottom: 5px;
}

.login-header p {
  font-size: 14px;
}

form {
  padding: 25px;
}

.input-group {
  margin-bottom: 18px;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}

.input-group input {
  width: 100%;
  padding: 12px;

  border: 1px solid #ddd;
  border-radius: 8px;

  font-size: 15px;
}

.login-btn {
  width: 100%;
  padding: 12px;

  border: none;
  border-radius: 8px;

  background: #5b5bf7;
  color: white;

  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background: #4444e0;
}

.footer-text {
  text-align: center;
  padding: 15px;
  color: gray;
  font-size: 12px;
}